<div class="row deltakelse-list">
    <div class="form-group col-sm-12 col-md-8">
        <div class="form-group col-sm-12 col-md-12">
            <label for="spiller">Spiller</label>
            <!-- <select class="form-control" id="spiller" [(ngModel)]="delta.spiller" name="spiller">
                <option *ngFor="let spiller of spillere" [value]="spiller.id">{{ spiller?.fornavn }} {{ spiller?.etternavn }}</option>
            </select> -->
            
            <ng-select id="spiller" [items]="spillere"
               searchable="true"
               bindLabel="navn"
               placeholder="Velg spiller"
               (change)="spillerChanged()"
               [(ngModel)]="this.spillerID">
            </ng-select>
            
        </div>   
        <div class="form-group col-sm-12 col-md-12">
            <label for="fraksjonId">Fraksjoner</label>
            <select class="form-control" id="fraksjonId" [(ngModel)]="delta.fraksjonId" name="fraksjonId">
                <option *ngFor="let fraksjon of game?.fraksjoner" [value]="fraksjon.id">{{ fraksjon?.navn }}</option>
            </select>
        </div>  
    </div>
    <div class="form-group col-sm-12 col-md-4">
        <div class="form-group col-sm-12 col-md-12">
            <label for="posisjon">Plassering</label><br />
            <input style="width:40px;" type="text" id="posisjon" [(ngModel)]="delta.posisjon" name="posisjon" />
        </div>  
        <div class="form-group col-sm-12 col-md-12">
            <label for="poeng">Poeng</label><br />
            <input style="width:40px;" type="text" id="poeng" [(ngModel)]="delta.poeng" name="poeng" />
        </div>  
    </div>
</div>