<div class="row">
    <div class="col-0 col-md-3"></div>
    <div class="col-12 col-md-6 row">
        <div class="col-12 col-md-6">
            <table width="90%">
                <tr *ngFor="let player of players">
                    <td>{{ player.navn }}</td><td>{{ player.rangering }}</td>
                </tr>
            </table>
        </div>
        <div class="col-12 col-md-6">
            <table width="90%">
                <tr *ngFor="let game of games">
                    <td>{{ game.navn }}</td><td>{{ game.spillinger }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-0 col-md-3"></div>
</div>
